<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Страницы</title>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	</head>

<body>
<style>

html{background: #ececec;}

body {
font-family: 'Open Sans', sans-serif;
}

a.div1 {
display: block;
float:left;
width:200px;
overflow: hidden;
text-overflow: ellipsis;
}

div2 {
float:left;
}

.clear {
clear:both;
}

h2 {
margin: 0;
padding: 10px 0px 0px 0px;
line-height: 0px;
font-size: 20px;
font-weight: 200;
}

h1 {
margin: 0;
padding: 10px 0px 0px 0px;
line-height: 0px;
font-size: 25px;
font-weight: 200;
margin-bottom: 22px;
}

.block {
font-size: 15px;
background: #fff;
border: 1px solid #ccc;
padding: 10px 15px 10px 15px;
border-radius: 5px;
width: 700px;
margin-bottom: 20px;
float:left;
margin-right:15px;
}

.div2 {
float:left;
}

.div3 {
float:left;
margin-left:10px;
margin-right:10px;
}

.div4 {
float:left;
margin-left:10px;
}

.red {color:red;font-size:36px;line-height: 15px;}
.green {color:green;font-size:26px;line-height: 15px;}

</style>



<div class="block">

<center><h1>ivi.ru</h2></center>

<h2>Общии:</h2><br>
<a class="div1" target="blank" href="http://www.ivi.ru/">http://www.ivi.ru/</a><a class="div3" target="blank" href="http://ivi.333.kg/index.php">Перейти</a>
<div class="div2">Главная</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/videos/all/movies/arthouse/by_day/">http://www.ivi.ru/videos/all/movies/arthouse/by_day/</a><a class="div3" target="blank" href="http://ivi.333.kg/movies_category.php">Перейти</a>
<div class="div2">Категории</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/videos/all/programs/all/by_day/">http://www.ivi.ru/videos/all/programs/all/by_day/</a><a class="div3" target="blank" href="http://ivi.333.kg/movies_category.php">Перейти</a>
<div class="div2">Другая категория</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/watch/64239?rnd=5349186c0b453">http://www.ivi.ru/watch/64239rnd5349186c0b453</a><a class="div3" target="blank" href="http://ivi.333.kg/film_page.php">Перейти</a>
<div class="div2">Страница фильма</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/watch/zov_krovi">http://www.ivi.ru/watch/zov_krovi</a><a class="div3" target="blank" href="http://ivi.333.kg/serial_page.php">Перейти</a>
<div class="div2">Страница сериала</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/plus/">http://www.ivi.ru/plus/</a><a class="div3" target="blank" href="http://ivi.333.kg/podpiska.php">Перейти</a>
<div class="div2">Подписка</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/info/-/agreement/">http://www.ivi.ru/info/-/agreement/</a><a class="div3" target="blank" href="http://ivi.333.kg/polzovatelskoe_soglashenie.php">Перейти</a>
<div class="div2">Простая страница</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/serial_page.php">http://www.ivi.ru/serial_page.php</a><a class="div3" target="blank" href="http://ivi.333.kg/404_ne%20naidena.php">Перейти</a>
<div class="div2">Страница ошибки</div>
<div class="div4 green">+</div><div class="clear"></div>






<a class="div1" target="blank" href="http://www.ivi.ru/serial_page.php">http://www.ivi.ru/serial_page.php</a><a class="div3" target="blank" href="http://ivi.333.kg/person_page.php">Перейти</a>
<div class="div2">Страница персоналии</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/serial_page.php">http://www.ivi.ru/serial_page.php</a><a class="div3" target="blank" href="http://ivi.333.kg/one_persone.php">Перейти</a>
<div class="div2">Страница персоны</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/serial_page.php">http://www.ivi.ru/serial_page.php</a><a class="div3" target="blank" href="http://ivi.333.kg/all_video.php">Перейти</a>
<div class="div2">Все видео</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/serial_page.php">http://www.ivi.ru/serial_page.php</a><a class="div3" target="blank" href="http://ivi.333.kg/video_list.php">Перейти</a>
<div class="div2">Страница видео листа</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/serial_page.php">http://www.ivi.ru/serial_page.php</a><a class="div3" target="blank" href="http://ivi.333.kg/search_result.php">Перейти</a>
<div class="div2">Результат поиска</div>
<div class="div4 green">+</div><div class="clear"></div>






<br>
<h2>Авторизованным:</h2><br>
<a class="div1" target="blank" href="http://www.ivi.ru/">http://www.ivi.ru/</a><a class="div3" target="blank" href="http://ivi.333.kg/index_login.php">Перейти</a>
<div class="div2">Главная</div>
<div class="div4 green">+</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/user/profile/">http://www.ivi.ru/user/profile/</a><a class="div3" target="blank" href="http://ivi.333.kg/profil.php">Перейти</a>
<div class="div2">Личный кабинет</div>
<div class="div4 green">+</div><div class="clear"></div>


<!--
<br>
<h2>Устройства:</h2><br>
<a class="div1" target="blank" href="http://www.ivi.ru/devices/phones/">http://www.ivi.ru/devices/phones/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">На устройствах</div>
<div class="div4 red">-</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/devices/platform/android/">http://www.ivi.ru/devices/platform/android/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">Android</div>
<div class="div4 red">-</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/devices/platform/ios/">http://www.ivi.ru/devices/platform/ios/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">iPhone/iPad</div>
<div class="div4 red">-</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/devices/phones/symbian/">http://www.ivi.ru/devices/phones/symbian/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">Nokia (Symbian^3)</div>
<div class="div4 red">-</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/devices/phones/bada/">http://www.ivi.ru/devices/phones/bada/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">Samsung bada</div>
<div class="div4 red">-</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/devices/phones/winphone/">http://www.ivi.ru/devices/phones/winphone/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">Windows Phone</div>
<div class="div4 red">-</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/info/-/windows8/">http://www.ivi.ru/info/-/windows8/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">Windows 8</div>
<div class="div4 red">-</div><div class="clear"></div>




<br>
<h2>На телевизорах</h2><br>
<a class="div1" target="blank" href="http://www.ivi.ru/devices/tvs/">http://www.ivi.ru/devices/tvs/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">На телевизорах</div>
<div class="div4 red">-</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/info/-/lgtv/">http://www.ivi.ru/info/-/lgtv/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">LG</div>
<div class="div4 red">-</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/info/-/samsungtv/">http://www.ivi.ru/info/-/samsungtv/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">Samsung</div>
<div class="div4 red">-</div><div class="clear"></div>

<a class="div1" target="blank" href="http://www.ivi.ru/info/-/philipstv/">http://www.ivi.ru/info/-/philipstv/</a><a class="div3" target="blank" href="">Перейти</a>
<div class="div2">Philips</div>
<div class="div4 red">-</div><div class="clear"></div>

-->
<br>

<div class="green" style="font-size: 20px;
line-height: 22px;
margin-bottom: 10px;">
Все остальное это уже отдельные сайты<br>
http://ask.ivi.ru/<br>
http://music.ivi.ru/<br>
http://deti.ivi.ru/
</div>










</body>
</html>